<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>controller.NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileTravler_thang</servlet-name>
        <servlet-class>controller.ProfileTravler_thang</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>tourList_thang</servlet-name>
        <servlet-class>controller.tourList_thang</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>index_thang</servlet-name>
        <servlet-class>controller.index_thang</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createTour_thang</servlet-name>
        <servlet-class>controller.createTour_thang</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>tourList_thang</servlet-name>
        <url-pattern>/tourList_thang</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileTravler_thang</servlet-name>
        <url-pattern>/ProfileTravler_thang</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>index_thang</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createTour_thang</servlet-name>
        <url-pattern>/createTour_thang</url-pattern>
    </servlet-mapping>
      <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/css/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/js/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/img/*</url-pattern>
    </servlet-mapping>
     <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/images/*</url-pattern>
    </servlet-mapping>
</web-app>
