<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>controller.NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileTravler_thang</servlet-name>
        <servlet-class>controller.ProfileTravler_thang</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>tourList_thang</servlet-name>
        <servlet-class>controller.tourList_thang</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>index_thang</servlet-name>
        <servlet-class>controller.index_thang</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createTour_thang</servlet-name>
        <servlet-class>controller.createTour_thang</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editTour_thang</servlet-name>
        <servlet-class>controller.editTour_thang</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listTourAdmin_thang</servlet-name>
        <servlet-class>controller.listTourAdmin_thang</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>tourDetail_thang</servlet-name>
        <servlet-class>controller.tourDetailAdmin_thang</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPassword_thang</servlet-name>
        <servlet-class>controller.ForgotPassword_thang</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePassword_thang</servlet-name>
        <servlet-class>controller.ChangePassword_thang</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListBookingGuide_thang</servlet-name>
        <servlet-class>controller.ListBookingGuide_thang</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailBookingGuide_thang</servlet-name>
        <servlet-class>controller.DetailBookingGuide_thang</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListBookingTraveler_thang</servlet-name>
        <servlet-class>controller.ListBookingTraveler_thang</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailBookingTraveler_thang</servlet-name>
        <servlet-class>controller.DetailBookingTraveler_thang</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>detailTourGuide_thang</servlet-name>
        <servlet-class>controller.detailTourGuide_thang</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateBookingTraveler_thang</servlet-name>
        <servlet-class>controller.UpdateBookingTraveler_thang</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>userList_thang</servlet-name>
        <servlet-class>controller.userList_thang</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>userDetail_thang</servlet-name>
        <servlet-class>controller.userDetail_thang</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>tourList_thang</servlet-name>
        <url-pattern>/tourList_thang</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileTravler_thang</servlet-name>
        <url-pattern>/ProfileTravler_thang</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>index_thang</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createTour_thang</servlet-name>
        <url-pattern>/createTour_thang</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/css/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/js/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/img/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/images/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editTour_thang</servlet-name>
        <url-pattern>/editTour_thang</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listTourAdmin_thang</servlet-name>
        <url-pattern>/listTourAdmin_thang</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>tourDetail_thang</servlet-name>
        <url-pattern>/tourDetail_thang</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPassword_thang</servlet-name>
        <url-pattern>/ForgotPassword_thang</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePassword_thang</servlet-name>
        <url-pattern>/ChangePassword_thang</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListBookingGuide_thang</servlet-name>
        <url-pattern>/ListBookingGuide_thang</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailBookingGuide_thang</servlet-name>
        <url-pattern>/DetailBookingGuide_thang</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListBookingTraveler_thang</servlet-name>
        <url-pattern>/ListBookingTraveler_thang</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailBookingTraveler_thang</servlet-name>
        <url-pattern>/DetailBookingTraveler_thang</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>detailTourGuide_thang</servlet-name>
        <url-pattern>/detailTourGuide_thang</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateBookingTraveler_thang</servlet-name>
        <url-pattern>/UpdateBookingTraveler_thang</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userList_thang</servlet-name>
        <url-pattern>/userList_thang</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userDetail_thang</servlet-name>
        <url-pattern>/userDetail_thang</url-pattern>
    </servlet-mapping>
</web-app>
