<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>controller.NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileTravler_servlet</servlet-name>
        <servlet-class>controller.ProfileTravler_servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>tourList_servlet</servlet-name>
        <servlet-class>controller.tourList_servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>index_servlet</servlet-name>
        <servlet-class>controller.index_servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createTour_servlet</servlet-name>
        <servlet-class>controller.createTour_servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editTour_servlet</servlet-name>
        <servlet-class>controller.editTour_servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listTourAdmin_servlet</servlet-name>
        <servlet-class>controller.listTourAdmin_servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>tourDetail_servlet</servlet-name>
        <servlet-class>controller.tourDetailAdmin_servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPassword_servlet</servlet-name>
        <servlet-class>controller.ForgotPassword_servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePassword_servlet</servlet-name>
        <servlet-class>controller.ChangePassword_servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListBookingGuide_servlet</servlet-name>
        <servlet-class>controller.ListBookingGuide_servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailBookingGuide_servlet</servlet-name>
        <servlet-class>controller.DetailBookingGuide_servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListBookingTraveler_servlet</servlet-name>
        <servlet-class>controller.ListBookingTraveler_servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailBookingTraveler_servlet</servlet-name>
        <servlet-class>controller.DetailBookingTraveler_servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>detailTourGuide_servlet</servlet-name>
        <servlet-class>controller.detailTourGuide_servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateBookingTraveler_servlet</servlet-name>
        <servlet-class>controller.UpdateBookingTraveler_servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>userList_servlet</servlet-name>
        <servlet-class>controller.userList_servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>userDetail_servlet</servlet-name>
        <servlet-class>controller.userDetail_servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listTourUser_servlet</servlet-name>
        <servlet-class>controller.listTourUser_servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createBooking_servlet</servlet-name>
        <servlet-class>controller.createBooking_servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>detailTourUser_servlet</servlet-name>
        <servlet-class>controller.detailTourUser_servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>report_page</servlet-name>
        <servlet-class>controller.ReportServlet_servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>tourList_servlet</servlet-name>
        <url-pattern>/tourList_servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileTravler_servlet</servlet-name>
        <url-pattern>/ProfileTravler_servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>index_servlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createTour_servlet</servlet-name>
        <url-pattern>/createTour_servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/css/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/js/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/img/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/images/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editTour_servlet</servlet-name>
        <url-pattern>/editTour_servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listTourAdmin_servlet</servlet-name>
        <url-pattern>/listTourAdmin_servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>tourDetail_servlet</servlet-name>
        <url-pattern>/tourDetail_servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPassword_servlet</servlet-name>
        <url-pattern>/ForgotPassword_servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePassword_servlet</servlet-name>
        <url-pattern>/ChangePassword_servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListBookingGuide_servlet</servlet-name>
        <url-pattern>/ListBookingGuide_servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailBookingGuide_servlet</servlet-name>
        <url-pattern>/DetailBookingGuide_servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListBookingTraveler_servlet</servlet-name>
        <url-pattern>/ListBookingTraveler_servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailBookingTraveler_servlet</servlet-name>
        <url-pattern>/DetailBookingTraveler_servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>detailTourGuide_servlet</servlet-name>
        <url-pattern>/detailTourGuide_servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateBookingTraveler_servlet</servlet-name>
        <url-pattern>/UpdateBookingTraveler_servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userList_servlet</servlet-name>
        <url-pattern>/userList_servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userDetail_servlet</servlet-name>
        <url-pattern>/userDetail_servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listTourUser_servlet</servlet-name>
        <url-pattern>/listTourUser_servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createBooking_servlet</servlet-name>
        <url-pattern>/createBooking_servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>detailTourUser_servlet</servlet-name>
        <url-pattern>/detailTourUser_servlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RatingServlet</servlet-name>
        <servlet-class>controller.RatingServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RatingServlet</servlet-name>
        <url-pattern>/rating</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>report_page</servlet-name>
        <url-pattern>/report_page</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
</web-app>
